page-home {

    

.fazam-home {
    background: url('../assets/imgs/fazam.jpg') no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    
   
}.photo-button {
        margin-top: 100px;
        height: 100%;
        width: 100%;
        text-align: center;

        button {
            display: inline-block;
        }

        .fab[mini] {
            margin: 8px;
            min-width: 200px;
            min-height: 200px;
            line-height: 500px;
        }
        .fab ion-icon {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            font-size: 15rem;
        }
        .fab-md {
            color: #fff;
            background-image: linear-gradient(to bottom,#16BEC7,#067486);
        }
    }

}

